@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  aspect-ratio: 1440/542;
  min-height: 542px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  h1 {
    @apply text-[30px] font-bold leading-9;
  }

  h2 {
    @apply text-[26px] font-bold leading-8;
  }
}

@layer components {
  .container {
    @apply mx-auto sm:max-w-full w-[90vw] p-0;
  }
}
